# Copyright 2025 Lincoln Institute of Land Policy
# SPDX-License-Identifier: MIT

name: Test Provider ⚙️

on:
  push:
  workflow_dispatch: # Allows manual triggering of the workflow

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.10"
          architecture: x64
      - name: Clear up GitHub runner diskspace
        run: |
          echo "Space before"
          df -h /
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
          echo "Space after"
          df -h /
      - name: Checkout repository
        uses: actions/checkout@master
      - name: Start SQL databases
        run: |
          cp .env.example .env
          docker compose pull
          make database
          sleep 5
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Install python packages
        run: |
          make deps
          uv pip install -e ".[dev]"
      - name: Run tests
        run: uv run pytest tests
